/* k2 cat thumbs */

.itemListCategory{
    overflow: hidden;
    padding: 3px; 
    height: 140px;
    width: 100%;
    position: relative;
    
    text-align: center; /* center the cat title */
    
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
    padding:3px;
    margin: 3px !important;
    margin-bottom: 5px !important;
    border-radius: 3px;
    border-color: whitesmoke;
  -o-box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    -ms-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    -khtml-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
    
}

.itemListCategory img{
 /*
-o-filter: blur(1px);
-ms-filter: blur(1px);
-moz-filter: blur(1px);
-webkit-filter: blur(1px);
-khtml-filter: blur(1px);
filter: blur(1px);

 

-o-filter: hue-rotate(0deg);
-ms-filter: hue-rotate(0deg);
-moz-filter: hue-rotate(0deg);
-webkit-filter: hue-rotate(0deg);
-khtml-filter: hue-rotate(0deg);
filter: hue-rotate(0deg);
 */
 

-o-filter: grayscale(0) blur(0px);
-ms-filter: grayscale(0) blur(0px);
-moz-filter: grayscale(0) blur(0px);
-webkit-filter: grayscale(0) blur(0px);
-khtml-filter: grayscale(0) blur(0px);
 filter: grayscale(0) blur(0px);
 
    overflow: hidden;
    padding: 3px; 
    height: auto !important;
    width: 100% !important;
    position: absolute;
    left:0%;
    top: -20%;
}

.itemListCategory:hover img{
    transition: all .7s;
    -ms-transition: all .7s; /* Firefox 4 */
    -moz-transition: all .7s; /* Firefox 4 */
    -webkit-transition: all .7s; /* Safari and Chrome */
    -o-transition: all .7s; /* Opera */
    
    


-o-filter: grayscale(.2) blur(1px);
-ms-filter: grayscale(.2) blur(1px);
-moz-filter: grayscale(.2) blur(1px);
-webkit-filter: grayscale(.2) blur(1px);
-khtml-filter: grayscale(.2) blur(1px);
    filter: grayscale(.2) blur(1px);
   /* -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px); 
-o-filter: hue-rotate(150deg);
-ms-filter: hue-rotate(150deg);
-moz-filter: hue-rotate(150deg);
-webkit-filter: hue-rotate(150deg);
-khtml-filter: hue-rotate(150deg);
   filter: hue-rotate(150deg);*/
   
}



.itemListCategory h2.creativeCatTitle {
-o-transition: all 0.7s ease 0s;
-ms-transition: all 0.7s ease 0s;
-moz-transition: all 0.7s ease 0s;
-webkit-transition: all 0.7s ease 0s;
-khtml-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    position: absolute;
    top: 33px;
    width: 100%;
}


.itemListCategory:hover h2  {
    top:45px;

}

.itemListCategory h2.creativeCatTitle span.creativeCatSpan  {
    transition: all .7s;
    -ms-transition: all .7s; /* Firefox 4 */
    -moz-transition: all .7s; /* Firefox 4 */
    -webkit-transition: all .7s; /* Safari and Chrome */
    -o-transition: all .7s; /* Opera */
    color: rgba(255, 255, 255) !important; 
    color: rgba(255, 255, 255, 0.8) !important; 

    text-shadow:  -1px 1px 16px #E2421A, 1px -1px 16px #E2421A; /*glow orange */
    text-shadow: -1px 1px 16px #110F0E, 1px -1px 16px #201F1E; /* glow dark */
    text-align: left;
    font-size: 0.8em;
    letter-spacing: -1px;  
    background: transparent; /* fallback color */
    background: rgba(171, 118, 200,0.01);
    padding: 10px; 
}

.itemListCategory:hover h2.creativeCatTitle span.creativeCatSpan  {
    color: rgba(255, 255, 255, 0.9) !important; 
    left: -30px !important;
    font-size: 0.7em;
    background: #E2421A; /* fallback color */
    background: rgba(226, 66, 26,0.8);
    background: rgba(0, 0, 0, 0.5);
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}






.itemListSubCategories { /*main container */
    overflow: hidden;
    padding: 3px; 
    text-align: center;
    max-height: 2.43em !important;
    overflow: hidden !important;



-o-transition: all .7s;
-ms-transition: all .7s;
-moz-transition: all .7s;
-webkit-transition: all .7s;
-khtml-transition: all .7s;
    transition: all .7s;
    min-width: 100%;
    min-width: 103%;  /* experiment: can be also higher than 100%! */
}

.itemListSubCategories .subcatActivator {
   text-decoration: underline;
   text-decoration-style: dotted;
   text-decoration-color: lightgray;
   cursor:pointer;
}

.itemListSubCategories.activated { /*main container */
    overflow: hidden;
    padding: 3px; 
    text-align: center;
    max-height: 9999px !important;
    overflow: hidden !important;
    -o-transition: all 1.7s;
    -ms-transition: all 1.7s;
    -moz-transition: all 1.7s;
    -webkit-transition: all 1.7s;
    -khtml-transition: all 1.7s;
    transition: all 1.7s;
}



.subCategoryContainer {
    float: left;
    
    min-width: 86%;  /*useful when only 1 subcat  */
  

    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
    padding:3px;
    margin: 3px !important;
    margin-bottom: 5px !important;
    border-radius: 3px;
    border-color: whitesmoke;
  -o-box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    -ms-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    -khtml-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;


}

.disabled-circular { 
    width: 120px;
    height: 120px;
    border-radius: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    /*background: url() no-repeat;*/
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.subCategoryImage img {
    box-shadow:0 0 10px #9ecaed;
    border: 1px solid #DDD;
    
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);

    width: 100%; 
    /* centra l'immagine verticalmente nel suo viewport */
    position: absolute;
    top:0px;
    left: 0px;
    bottom:0px;
    margin:auto;
    /* end centra l'immagine verticalmente nel suo viewport */

}

.creative_subCategory:hover img{
    transition: all .7s;
    -ms-transition: all .7s; /* Firefox 4 */
    -moz-transition: all .7s; /* Firefox 4 */
    -webkit-transition: all .7s; /* Safari and Chrome */
    -o-transition: all .7s; /* Opera */

    
      -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
}
.creative_subCategory {
    text-align: center;
    position: relative; 
    width: 100%; /* for IE 6 */
    height: 120px;
    overflow:hidden !important;



}




.creative_subCategory h2 { 
    transition: all .7s;
    -ms-transition: all .7s; /* Firefox 4 */
    -moz-transition: all .7s; /* Firefox 4 */
    -webkit-transition: all .7s; /* Safari and Chrome */
    -o-transition: all .7s; /* Opera */
    position: absolute; 
    top: 20px; 


    width: 100%; 
}

.creative_subCategory:hover h2  {
    top:30px;

}

.creative_subCategory h2 span a { 
    transition: all .7s;
    -ms-transition: all .7s; /* Firefox 4 */
    -moz-transition: all .7s; /* Firefox 4 */
    -webkit-transition: all .7s; /* Safari and Chrome */
    -o-transition: all .7s; /* Opera */
    color: rgba(255, 255, 255) !important; 
    color: rgba(255, 255, 255, 0.8) !important; 

    text-shadow:  -1px 1px 16px #E2421A, 1px -1px 16px #E2421A; /*glow orange */
    text-shadow: -1px 1px 16px #110F0E, 1px -1px 16px #201F1E; /* glow dark */
    text-align: left;
    font-size: 0.8em;
    letter-spacing: -1px;  
    background: transparent; /* fallback color */
    background: rgba(171, 118, 200,0.01);
    padding: 10px; 
}

.creative_subCategory:hover h2 span a  {
    color: rgba(255, 255, 255, 0.9) !important; 
    left: -30px !important;
    font-size: 0.7em;
    background: #E2421A; /* fallback color */
    background: rgba(226, 66, 26,0.8);
    background: rgba(0, 0, 0, 0.5);
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;


}

.subCategory h2 span { 

}

/* end k2 cat thumbs*/





/* 
 *
start timeline 
 *
 */

/* iconfont
@font-face {
    font-family: 'ecoico';
    src:url('../fonts/timelineicons/ecoico.eot');
    src:url('../fonts/timelineicons/ecoico.eot?#iefix') format('embedded-opentype'),
        url('../fonts/timelineicons/ecoico.woff') format('woff'),
        url('../fonts/timelineicons/ecoico.ttf') format('truetype'),
        url('../fonts/timelineicons/ecoico.svg#ecoico') format('svg');
    font-weight: normal;
    font-style: normal;
}  Made with http://icomoon.io/ */
 
.cbp_tmtimeline {
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
} 
 
/* The line */
.cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: rgb(219, 71, 71); /* time-line color - colore della linea del tempo */
    left: 20%;
    margin-left: -10px;
}
 
.cbp_tmtimeline > li {
    position: relative;
}
 
/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
    display: block;
    width: 12%;
    padding-right: 100px;
    position: absolute;
}


.cbp_tmtimeline > li .authorInfo {
  /* white-space: nowrap; 
   text-align: left;
   overflow: visible; */
  text-align: left;
  max-width: 100px;
}



 
.cbp_tmtimeline > li .cbp_tmtime span {
    display: block;
    text-align: right;
}
 
.cbp_tmtimeline > li .cbp_tmtime time.thedate {
    font-size: 0.78em;
    color: #bdd0db;
    white-space: nowrap;
    overflow: visible;
    display: inline;
}
 
.cbp_tmtimeline > li .cbp_tmtime time.thehour {
    font-size: 1.9em;
    color: rgb(219, 71, 71);
}
 
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
    color: #6cbfee;
}
 
/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 15px 27%; /* % = margine sinistra fumetto articoli su icona/circle */
    background: #CE2930;
    color: #fff;
    padding: 2em;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    border-radius: 5px;
    /* uncomment to use triangle/arrow */
    z-index: 99;
   /* */
}
 
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
    background: #CE4242;
}
 
.cbp_tmtimeline > li .cbp_tmlabel .timelinetitle { 
    margin-top: 0px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
 
/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #CE2930;
    border-width: 10px;
    top: 20px;
    /* uncomment to use triangle/arrow */
    z-index: 99;
   /* */
}
 
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
   border-right-color:  #CE4242;
}

.cbp_tmtimeline > li .cbp_tmicon_outer {
    width: 67px;
    height: 67px;
    font-family: 'ecoico';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 40px;
    
    color: rgb(255, 255, 255);
    background: none repeat scroll 0% 0% rgb(252, 95, 95);
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    border-radius: 50% 50% 50% 50%; /* circle */
    box-shadow: 0px 0px 0px 8px rgb(219, 71, 71); 
   /*this box-shadow was the original "border" it' better but chrome issues with clipping'*/
    /*border: 10px solid rgb(252, 95, 95);
    border: 10px solid rgba(252, 95, 95,.95);*/
    background-clip: content-box;
    text-align: center;
/*
with border instead of box-shadow:
left: 16.3%;
top: -15px;
*/
   left: 17.75%;
    top: 0px;

  /*  top: 0px; */
   /* box-sizing: content-box; */

    margin: 0px 0px 0px -25px;
    overflow: hidden !important;
    z-index: 98;
    /* position: static;  see http://stackoverflow.com/questions/587814/how-do-i-prevent-an-image-from-overflowing-a-rounded-corner-box-with-css3 */
    position: absolute;

/* see also https://developer.mozilla.org/en-US/docs/CSS/-webkit-mask-box-image */
}
 

.cbp_tmtimeline > li .cbp_tmicon_outer > .cbp_tmicon {
    width: 67px;
    height: 67px;
    font-family: 'ecoico';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 40px;
    
    color: rgb(255, 255, 255);
    background: none repeat scroll 0% 0% rgb(252, 95, 95);
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    border-radius: 50% 50% 50% 50%; /* circle */
    box-shadow: 0px 0px 0px 8px rgb(252, 95, 95); 
   /*this box-shadow was the original "border" it' better but chrome issues with clipping'*/
    /*border: 10px solid rgb(252, 95, 95);
    border: 10px solid rgba(252, 95, 95,.95);*/
    background-clip: content-box;
    text-align: center;
/*
with border instead of box-shadow:
left: 16.3%;
top: -15px;
*/
   left: 17.55%;
    top: 0px;

  /*  top: 0px; */
   /* box-sizing: content-box; */

    margin: 0px 0px 0px -25px;
    overflow: hidden !important;
    z-index: 98;
    /* position: static;  see http://stackoverflow.com/questions/587814/how-do-i-prevent-an-image-from-overflowing-a-rounded-corner-box-with-css3 */
    position: relative;
    position: static !important;
    margin: 0 auto !important;
   -webkit-mask-image: url(circle_r40.svg); /* fix hover issue */
-webkit-mask-position: 50% 50%;
/*-webkit-mask-size: 340px;*/
-webkit-mask-clip: border;
/* see also https://developer.mozilla.org/en-US/docs/CSS/-webkit-mask-box-image */
}
 
.cbp_tmtimeline > li .cbp_tmicon .readicon{
   line-height: 70px;
   font-size: 120%;
   text-align: center;
   color: brown; /* fontawesome */

-o-transition: all .7s linear;
-ms-transition: all .7s linear;
-moz-transition: all .7s linear;
-webkit-transition: all .7s linear;
-khtml-transition: all .7s linear;
   transition: all .7s linear;

}


.cbp_tmtimeline > li .cbp_tmicon:hover .readicon{
   line-height: 70px;
   font-size: 160%;
   color: wheat; /* fontawesome */
/* fontawesome cannot rotate, it uses :before and :after 
-o-transform: rotate(90deg) !important;
-ms-transform: rotate(90deg) !important;
-moz-transform: rotate(90deg) !important;
-webkit-transform: rotate(90deg) !important;
-khtml-transform: rotate(90deg) !important;
   transform: rotate(90deg) !important;
*/

}


.cbp_tmtimeline > li .cbp_tmicon img{

position: absolute !important;
top: -25% !important;
left: -25% !important;
max-width: 190% !important;
min-height: 140%; /*(c) creativeprogramming.it flexiclip */
z-index: 0;
/* not needed but to prevent chrome issues on hover: 
-webkit-border-radius: 50%; 
border-radius: 50%;
/* end not needed but to prevent chrome issues on hover. */

/*
-webkit-mask-image: url(circle.svg);
-webkit-mask-position: 55% 48%;
-webkit-mask-size: 340px;

/*(c) all right reserved creativeprogramming.it trick to simulate image cliping mask */
}


.cbp_tmicon-phone:before {
    content: "\e000";
}
 
.cbp_tmicon-screen:before {
    content: "\e001";
}
 
.cbp_tmicon-mail:before {
    content: "\e002";
}
 
.cbp_tmicon-earth:before {
    content: "\e003";
}
 

.cbp_tmtimeline > li .cbp_tmtime time.thehour {
    
    opacity: 0 !important;
    max-height: 0px !important;
    line-height: 1em;
    float: left;
-o-transition: all .5s linear;
-ms-transition: all .5s linear;
-moz-transition: all .5s linear;
-webkit-transition: all .5s linear;
-khtml-transition: all .5s linear;
transition: all .5s linear;
}

.cbp_tmtimeline > li:hover .cbp_tmtime time.thehour {
    
    opacity: 1 !important;
    max-height: 200px !important;
}

.cbp_tmtimeline > li.creativeprogrammingAwesomePageStart,
.cbp_tmtimeline > li.creativeprogrammingAwesomePageEnd{
    display: none !important;
}
.cbp_tmtimeline > li.cpagebreak{
     display: block !important;
     height: 20px;
     width: 100%;
     background-color: red;
}


.featuredBackgroundOverlay{
    
    padding: 30px; 
      /*
-o-border-radius: 8px;
-ms-border-radius: 8px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
-khtml-border-radius: 8px;
    border-radius: 8px;
      
-o-box-shadow:         1px 1px 30px rgba(50, 50, 50, 1);
-ms-box-shadow:         1px 1px 30px rgba(50, 50, 50, 1);
-moz-box-shadow:         1px 1px 30px rgba(50, 50, 50, 1);
-webkit-box-shadow:         1px 1px 30px rgba(50, 50, 50, 1);
-khtml-box-shadow:         1px 1px 30px rgba(50, 50, 50, 1);
     box-shadow:         1px 1px 30px rgba(50, 50, 50, 1);

background: -moz-linear-gradient(top, rgba(0,0,0,0.48) 0%, rgba(0,0,0,0.34) 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.48)), color-stop(100%,rgba(0,0,0,0.34))); 
background: -webkit-linear-gradient(top, rgba(0,0,0,0.48) 0%,rgba(0,0,0,0.34) 100%); 
background: -o-linear-gradient(top, rgba(0,0,0,0.48) 0%,rgba(0,0,0,0.34) 100%); 
background: -ms-linear-gradient(top, rgba(0,0,0,0.48) 0%,rgba(0,0,0,0.34) 100%); 
background: linear-gradient(to bottom, rgba(0,0,0,0.48) 0%,rgba(0,0,0,0.34) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a000000', endColorstr='#57000000',GradientType=0 ); 
*/
background: url(timelinemask-primopiano-simple.png); 
/*timelinemask-primopiano-simple4.png was my favourite but too unreadable */
/*timelinemask-primopiano-simple.png is linear */
border-radius: 4px; /* important: tune this to match timeline card border radius */
background-size: 100% 100%;
background-clip: border-box;


}


.featuredBackgroundOverlayVideo{
    
    padding: 40px; 
      
background: url(timelinemask-primopiano-video.png); 
/*timelinemask-primopiano-simple4.png was my favourite but too unreadable */
/*timelinemask-primopiano-simple.png is linear */
border-radius: 4px; /* important: tune this to match timeline card border radius */
background-size: 100% 100%;
background-clip: border-box;


}

.featuredicon{
    color: whitesmoke !important;

-o-text-shadow: 1px 1px 1px rgba(0, 0, 0, .9);
-ms-text-shadow: 1px 1px 1px rgba(0, 0, 0, .9);
-moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, .9);
-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, .9);
-khtml-text-shadow: 1px 1px 1px rgba(0, 0, 0, .9);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .9);
}

.timelinetitle,
.timelinetitle a{
    color: whitesmoke;

-o-text-shadow: 2px 1px 2px rgba(0, 0, 0, .9);
-ms-text-shadow: 2px 1px 2px rgba(0, 0, 0, .9);
-moz-text-shadow: 2px 1px 2px rgba(0, 0, 0, .9);
-webkit-text-shadow: 2px 1px 2px rgba(0, 0, 0, .9);
-khtml-text-shadow: 2px 1px 2px rgba(0, 0, 0, .9);
    text-shadow: 2px 1px 2px rgba(0, 0, 0, .9);
}

.timelinearticle .itembody{
      color: whitesmoke;
      

-o-text-shadow: 1px 1px 1px rgba(0, 0, 0, .9);
-ms-text-shadow: 1px 1px 1px rgba(0, 0, 0, .9);
-moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, .9);
-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, .9);
-khtml-text-shadow: 1px 1px 1px rgba(0, 0, 0, .9);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .9);
    /*
-o-text-shadow: 3px 3px 30px rgba(150, 150, 150, 1);
-ms-text-shadow: 3px 3px 30px rgba(150, 150, 150, 1);
-moz-text-shadow: 3px 3px 30px rgba(150, 150, 150, 1);
-webkit-text-shadow: 3px 3px 30px rgba(150, 150, 150, 1);
-khtml-text-shadow: 3px 3px 30px rgba(150, 150, 150, 1);
text-shadow: 3px 3px 30px rgba(150, 150, 150, 1); */
}

.cbp_tmtime .categoryInfo{
width: 100px;
overflow: hidden;
white-space: nowrap;
}




.pagination {
clear: both;
padding: 36px 0 0;
left: 95px;
top: -37px;
position: relative;
}

.pagination ul li span,
.pagination ul li a 
{
background: #aa3131;
border-radius: 300px;
padding: 5px;
margin-right: 6px;
}

/* end timeline */

/* timeline Media Queries */
@media screen and (max-width: 65.375em) {
 
    .cbp_tmtimeline > li .cbp_tmtime span:last-child {
        font-size: 1.5em;
    }
}
 
@media screen and (max-width: 47.2em) {
    
    
.pagination {
left: 0px !important;
}
    
    .cbp_tmtimeline:before {
        display: none;
    }
 
    .cbp_tmtimeline > li .cbp_tmtime {
        width: 100%;
        position: relative;
        padding: 0 0 20px 0;
    }
 
    .cbp_tmtimeline > li .cbp_tmtime span {
        text-align: left;
    }
 
    .cbp_tmtimeline > li .cbp_tmlabel {
        margin: 0 0 30px 0;
        padding: 1em;
        font-weight: 400;
        font-size: 95%;
    }
 
    .cbp_tmtimeline > li .cbp_tmlabel:after {
        right: auto;
        left: 20px;
        border-right-color: transparent;
        border-bottom-color: #CE2930;
        top: -20px;
    }
 
    .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
        border-right-color: transparent;
        border-bottom-color: #CE4242;
    }
 
    .cbp_tmtimeline > li .cbp_tmicon_outer {
        position: relative;
        float: right;
        left: auto;
        margin: -55px 6px 0 0px;
    }   
    
    .cbp_tmtime .authorInfo{
    display: inline;
    margin: 3px;
    }
} /* end media query */

