/* 
    All rights reserved © creativeprogramming.it 

    Document   : commons css tools
    Created on : 20-mag-2013, 15.33.52
    Author     : creativeprogramming.it by Stefano Gargiulo

*/



.zoomback_transition_timings{
   
    
   /* this is also read links class */
-o-transform-origin: center center;
-ms-transform-origin: center center;
-moz-transform-origin: center center;
-webkit-transform-origin: center center;
-khtml-transform-origin: center center;
    transform-origin: center center;

   /* this is also read links class */

-o-filter: sepia(1);
-ms-filter: sepia(1);
-moz-filter: sepia(1);
-webkit-filter: sepia(1);
-khtml-filter: sepia(1);
   filter: sepia(1);

-o-transform: scale(1) rotate(0deg);
-ms-transform: scale(1) rotate(0deg);
-moz-transform: scale(1) rotate(0deg);
-webkit-transform: scale(1) rotate(0deg);
-khtml-transform: scale(1) rotate(0deg);
   transform: scale(1) rotate(0deg);
  
-o-transition: all .7s linear;
-ms-transition: all .7s linear;
-moz-transition: all .7s linear;
-webkit-transition: all .7s linear;
-khtml-transition: all .7s linear;
            transition: all .7s linear;
}


.zoomback_transition_timings:hover{
  

   /* this is also read links class */
-o-filter: sepia(0);
-ms-filter: sepia(0);
-moz-filter: sepia(0);
-webkit-filter: sepia(0);
-khtml-filter: sepia(0);
   filter: sepia(0);


}


.zoomoutscreen{
    
    opacity: 0;
    


-o-transform: scale(3.33) rotate(25deg);
-ms-transform: scale(3.33) rotate(25deg);
-moz-transform: scale(3.33) rotate(25deg);
-webkit-transform: scale(3.33) rotate(25deg);
-khtml-transform: scale(3.33) rotate(25deg);
    transform: scale(3.33) rotate(25deg);
    
-o-transform-origin: center center;
-ms-transform-origin: center center;
-moz-transform-origin: center center;
-webkit-transform-origin: center center;
-khtml-transform-origin: center center;
    transform-origin: center center;


-o-transition: all 1.2s linear;
-ms-transition: all 1.2s linear;
-moz-transition: all 1.2s linear;
-webkit-transition: all 1.2s linear;
-khtml-transition: all 1.2s linear;
        transition: all 1.2s linear;
}


.zoomoutscreen .cbp_tmicon_outer{


-o-transform: translate(250px) scale(4.33) rotate(-45deg);
-ms-transform: translate(250px) scale(4.33) rotate(-45deg);
-moz-transform: translate(250px) scale(4.33) rotate(-45deg);
-webkit-transform: translate(250px) scale(4.33) rotate(-45deg);
-khtml-transform: translate(250px) scale(4.33) rotate(-45deg);
    transform: translate(250px) scale(4.33) rotate(-45deg);
    
 z-index: 102 !important;
 
-o-transition: all .6s linear;
-ms-transition: all .6s linear;
-moz-transition: all .6s linear;
-webkit-transition: all .6s linear;
-khtml-transition: all .6s linear;
 transition: all .6s linear;
}

body #creativeMainPage.rotatezero3s{
   

-o-transition: all .3s ease;
-ms-transition: all .3s ease;
-moz-transition: all .3s ease;
-webkit-transition: all .3s ease;
-khtml-transition: all .3s ease;
    transition: all .3s ease;
}

body #creativeMainPage.rotatezero6s{
   

-o-transition: all .6s ease;
-ms-transition: all .6s ease;
-moz-transition: all .6s ease;
-webkit-transition: all .6s ease;
-khtml-transition: all .6s ease;
    transition: all .6s ease;
}

body #creativeMainPage.rotate.rotateforward90{
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-khtml-transform: rotate(90deg);
 transform: rotate(90deg);
}
body #creativeMainPage.rotate.rotateforward180{

-o-transform: rotate(180deg);
-ms-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-khtml-transform: rotate(180deg);
 transform: rotate(180deg);
}

body #creativeMainPage.rotate.rotateforward240{

-o-transform: rotate(240deg);
-ms-transform: rotate(240deg);
-moz-transform: rotate(240deg);
-webkit-transform: rotate(240deg);
-khtml-transform: rotate(240deg);
 transform: rotate(240deg);
}

body #creativeMainPage.rotate.rotateforward360{

-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-khtml-transform: rotate(360deg);
transform: rotate(360deg);
}

img.kenburns{

  transition-duration: 5s;
  transform: scale(1.0);
  transform-origin: 50% 50%;
  -o-transition-duration: 5s;
  -o-transform: scale(1.0);
  -o-transform-origin: 50% 50%;
  -ms-transition-duration: 5s;
  -ms-transform: scale(1.0);
  -ms-transform-origin: 50% 50%;
  -moz-transition-duration: 5s;
  -moz-transform: scale(1.0);
  -moz-transform-origin: 50% 50%;
  -webkit-transition-duration: 5s;
  -webkit-transform: scale(1.0);
  -webkit-transform-origin: 50% 50%;

}

img.kenburnsloop:hover{




animation-name: kenburnsloop;

-webkit-transform:translate3d(0, 0, 0);
-moz-transform:translate3d(0, 0, 0);
-ms-transform:translate3d(0, 0, 0);
-o-transform:translate3d(0, 0, 0);
transform:translate3d(0, 0, 0);

	animation-duration: 7s;
-webkit-animation-iteration-count: 3;
	animation-direction: normal;
	animation-timing-function: ease-in-out;

-o-animation-name: kenburnsloop;
	-o-animation-duration: 7s;
-webkit-animation-iteration-count: 3;
	-o-animation-direction: normal;
	-o-animation-timing-function: ease-in-out;
-ms-animation-name: kenburnsloop;
-ms-animation-duration: 7s;
-webkit-animation-iteration-count: 3;
	-ms-animation-direction: normal;
	-ms-animation-timing-function: ease-in-out;
-moz-animation-name: kenburnsloop;
-moz-animation-duration: 7s;
	-webkit-animation-iteration-count: 3;
	-moz-animation-direction: normal;
	-moz-animation-timing-function: ease-in-out;
-webkit-animation-name: kenburnsloop;
-webkit-animation-duration: 7s;
	-webkit-animation-iteration-count: 3;
	-webkit-animation-direction: normal;
	-webkit-animation-timing-function: ease-in-out;


}

img.kenburns:hover {

  transform: scale(1.2);
  transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -o-transform: scale(1.2);
  -o-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -ms-transform: scale(1.2);
  -ms-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -moz-transform: scale(1.2);
  -moz-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -webkit-transform: scale(1.2);
  -webkit-transform-origin: 50% 0%; /* ken burns pan towards top of image */

}


@keyframes kenburnsloop {
	0% {
		transform: scale(1.0);
  transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -o-transform: scale(1.0);
  -o-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -ms-transform: scale(1.0);
  -ms-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -moz-transform: scale(1.0);
  -moz-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -webkit-transform: scale(1.0);
  -webkit-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
	}
	30% {
		transform: scale(1.2);
  transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -o-transform: scale(1.2);
  -o-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -ms-transform: scale(1.2);
  -ms-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -moz-transform: scale(1.2);
  -moz-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -webkit-transform: scale(1.2);
  -webkit-transform-origin: 50% 0%; /* ken burns pan towards top of image */
	}
	70% {	transform: scale(1.2);
  transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -o-transform: scale(1.2);
  -o-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -ms-transform: scale(1.2);
  -ms-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -moz-transform: scale(1.2);
  -moz-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -webkit-transform: scale(1.2);
  -webkit-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
	}
        	100% {
		transform: scale(1.0);
  transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -o-transform: scale(1.0);
  -o-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -ms-transform: scale(1.0);
  -ms-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -moz-transform: scale(1.0);
  -moz-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -webkit-transform: scale(1.0);
  -webkit-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
	}
}
   
@-webkit-keyframes kenburnsloop {
			0% {
		transform: scale(1.0);
  transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -o-transform: scale(1.0);
  -o-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -ms-transform: scale(1.0);
  -ms-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -moz-transform: scale(1.0);
  -moz-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -webkit-transform: scale(1.0);
  -webkit-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
	}
	30% {
		transform: scale(1.2);
  transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -o-transform: scale(1.2);
  -o-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -ms-transform: scale(1.2);
  -ms-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -moz-transform: scale(1.2);
  -moz-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -webkit-transform: scale(1.2);
  -webkit-transform-origin: 50% 0%; /* ken burns pan towards top of image */
	}
	100% {	transform: scale(1.2);
  transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -o-transform: scale(1.2);
  -o-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -ms-transform: scale(1.2);
  -ms-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -moz-transform: scale(1.2);
  -moz-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -webkit-transform: scale(1.2);
  -webkit-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
	}
}

@-moz-keyframes kenburnsloop {
	0% {
		transform: scale(1.0);
  transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -o-transform: scale(1.0);
  -o-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -ms-transform: scale(1.0);
  -ms-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -moz-transform: scale(1.0);
  -moz-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -webkit-transform: scale(1.0);
  -webkit-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
	}
	30% {
		transform: scale(1.2);
  transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -o-transform: scale(1.2);
  -o-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -ms-transform: scale(1.2);
  -ms-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -moz-transform: scale(1.2);
  -moz-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -webkit-transform: scale(1.2);
  -webkit-transform-origin: 50% 0%; /* ken burns pan towards top of image */
	}
	70% {	transform: scale(1.2);
  transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -o-transform: scale(1.2);
  -o-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -ms-transform: scale(1.2);
  -ms-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -moz-transform: scale(1.2);
  -moz-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -webkit-transform: scale(1.2);
  -webkit-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
	}
        	100% {
		transform: scale(1.0);
  transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -o-transform: scale(1.0);
  -o-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -ms-transform: scale(1.0);
  -ms-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -moz-transform: scale(1.0);
  -moz-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -webkit-transform: scale(1.0);
  -webkit-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
	}
}
   
@-webkit-keyframes kenburnsloop {
			0% {
		transform: scale(1.0);
  transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -o-transform: scale(1.0);
  -o-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -ms-transform: scale(1.0);
  -ms-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -moz-transform: scale(1.0);
  -moz-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -webkit-transform: scale(1.0);
  -webkit-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
	}
	30% {
		transform: scale(1.2);
  transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -o-transform: scale(1.2);
  -o-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -ms-transform: scale(1.2);
  -ms-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -moz-transform: scale(1.2);
  -moz-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -webkit-transform: scale(1.2);
  -webkit-transform-origin: 50% 0%; /* ken burns pan towards top of image */
	}
	100% {	transform: scale(1.2);
  transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -o-transform: scale(1.2);
  -o-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -ms-transform: scale(1.2);
  -ms-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -moz-transform: scale(1.2);
  -moz-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -webkit-transform: scale(1.2);
  -webkit-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
	}
}
@-ms-keyframes kenburnsloop {
	0% {
		transform: scale(1.0);
  transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -o-transform: scale(1.0);
  -o-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -ms-transform: scale(1.0);
  -ms-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -moz-transform: scale(1.0);
  -moz-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -webkit-transform: scale(1.0);
  -webkit-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
	}
	30% {
		transform: scale(1.2);
  transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -o-transform: scale(1.2);
  -o-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -ms-transform: scale(1.2);
  -ms-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -moz-transform: scale(1.2);
  -moz-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -webkit-transform: scale(1.2);
  -webkit-transform-origin: 50% 0%; /* ken burns pan towards top of image */
	}
	70% {	transform: scale(1.2);
  transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -o-transform: scale(1.2);
  -o-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -ms-transform: scale(1.2);
  -ms-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -moz-transform: scale(1.2);
  -moz-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -webkit-transform: scale(1.2);
  -webkit-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
	}
        	100% {
		transform: scale(1.0);
  transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -o-transform: scale(1.0);
  -o-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -ms-transform: scale(1.0);
  -ms-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -moz-transform: scale(1.0);
  -moz-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -webkit-transform: scale(1.0);
  -webkit-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
	}
}
   
@-webkit-keyframes kenburnsloop {
			0% {
		transform: scale(1.0);
  transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -o-transform: scale(1.0);
  -o-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -ms-transform: scale(1.0);
  -ms-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -moz-transform: scale(1.0);
  -moz-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -webkit-transform: scale(1.0);
  -webkit-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
	}
	30% {
		transform: scale(1.2);
  transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -o-transform: scale(1.2);
  -o-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -ms-transform: scale(1.2);
  -ms-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -moz-transform: scale(1.2);
  -moz-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -webkit-transform: scale(1.2);
  -webkit-transform-origin: 50% 0%; /* ken burns pan towards top of image */
	}
	100% {	transform: scale(1.2);
  transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -o-transform: scale(1.2);
  -o-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -ms-transform: scale(1.2);
  -ms-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -moz-transform: scale(1.2);
  -moz-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -webkit-transform: scale(1.2);
  -webkit-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
	}
}

@-o-keyframeskenburnsloop {
	0% {
		transform: scale(1.0);
  transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -o-transform: scale(1.0);
  -o-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -ms-transform: scale(1.0);
  -ms-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -moz-transform: scale(1.0);
  -moz-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -webkit-transform: scale(1.0);
  -webkit-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
	}
	30% {
		transform: scale(1.2);
  transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -o-transform: scale(1.2);
  -o-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -ms-transform: scale(1.2);
  -ms-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -moz-transform: scale(1.2);
  -moz-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -webkit-transform: scale(1.2);
  -webkit-transform-origin: 50% 0%; /* ken burns pan towards top of image */
	}
	70% {	transform: scale(1.2);
  transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -o-transform: scale(1.2);
  -o-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -ms-transform: scale(1.2);
  -ms-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -moz-transform: scale(1.2);
  -moz-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -webkit-transform: scale(1.2);
  -webkit-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
	}
        	100% {
		transform: scale(1.0);
  transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -o-transform: scale(1.0);
  -o-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -ms-transform: scale(1.0);
  -ms-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -moz-transform: scale(1.0);
  -moz-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -webkit-transform: scale(1.0);
  -webkit-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
	}
}
   
@-webkit-keyframes kenburnsloop {
			0% {
		transform: scale(1.0);
  transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -o-transform: scale(1.0);
  -o-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -ms-transform: scale(1.0);
  -ms-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -moz-transform: scale(1.0);
  -moz-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -webkit-transform: scale(1.0);
  -webkit-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
	}
	30% {
		transform: scale(1.2);
  transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -o-transform: scale(1.2);
  -o-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -ms-transform: scale(1.2);
  -ms-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -moz-transform: scale(1.2);
  -moz-transform-origin: 50% 0%; /* ken burns pan towards top of image */
  -webkit-transform: scale(1.2);
  -webkit-transform-origin: 50% 0%; /* ken burns pan towards top of image */
	}
70% {	transform: scale(1.2);
  transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -o-transform: scale(1.2);
  -o-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -ms-transform: scale(1.2);
  -ms-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -moz-transform: scale(1.2);
  -moz-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
  -webkit-transform: scale(1.2);
  -webkit-transform-origin: 50% 100%; /* ken burns pan towards btt of image */
	}
        	100% {
		transform: scale(1.0);
  transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -o-transform: scale(1.0);
  -o-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -ms-transform: scale(1.0);
  -ms-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -moz-transform: scale(1.0);
  -moz-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
  -webkit-transform: scale(1.0);
  -webkit-transform-origin: 50% 50%; /* ken burns pan towards mid of image */
	}
}
