/* k2 image title */


.articleabitoverimg{
    z-index: 9;
    position: relative; 
    top: -9em; 
    background: white;
    background: rgba(255,255,255,.98);

/*
    -o-box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    -ms-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    -khtml-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
*/




    padding: 3px;
}


.titleoverimg{
    width: 100%;
    z-index: 9;
    position: absolute; 
    top: 2em; 
    background: white;
    background: rgba(255,255,255,.93);
  /*  -o-box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    -ms-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    -khtml-box-shadow: 0 0 5px #888;
  
    box-shadow: 0 0 5px #888;
  */



}

itemImage img{
  /*  -o-box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    -ms-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    -khtml-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
  */
}

/*
.titleoverimg:hover{
  top:0em;
}*/

/* for empty images in titleoverimage layout dude 
.counterplan .itemImage{
    min-height: 250px !important; 
}

.creativeshowim .itemImage{
    min-height: 0px !important; 
}
commented because it's not needed anymore and doesn't scale down well to tiny mobile devices
*/
#showImage:target .articleabitoverimg{
    top: 0em !important; 
}
#showImage:target .titleoverimg{
    top: -1em !important;
}

/* 
http://www.w3.org/TR/CSS2/selector.html
E + F Matches any F element immediately preceded by a sibling element E.
*/
itemImage:hover + .articleabitoverimg{
    top: 0em; 
}
/*
.titleoverimg:hover{
  top:0em;
}*/
/* end k2 image title */


    .articleabitoverimg,
    .titleoverimg{

-o-transition: all .36s linear;
-ms-transition: all .36s linear;
-moz-transition: all .36s linear;
-webkit-transition: all .36s linear;
-khtml-transition: all .36s linear;
        transition: all .36s linear;
    }
    
    
    /* ITEM IMAGE NO OVERLAY */
.creativeshowim .itemImage,
.creativeshowim .titleoverimg,
.creativeshowim .articleabitoverimg{
    margin-bottom: 0px !important;
    position: relative !important;
    top: 0px !important;
}

@media (max-width:890px){



    /* ITEM IMAGE NO OVERLAY */
    .itemImage,
    .titleoverimg,
    .articleabitoverimg{
        margin-bottom: 0px !important;
        position: relative !important;
        top: 0px !important;
    }
    
}